/* ------------------------------ COULEURS --------------------------------- */

/* Général */
body {
	color: #373F42;
	background: #f7f7f7 url('../img/structure/bg04.png');
}

/* header */
#header {
	background: url('../img/structure/bg04.jpg');
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

#headercontent{
	width:1014px;
	height:80px;
	margin:0 auto;
	float:center;
	padding:10px;
}

#navigation {
	float:right;
	width:550px;
	height:80px;
	text-align:right;
}

#menu {
	padding-top:15px;
	height:25px;
}

#menu a{
	font-size:1.4em;
	color :#96A9B5;
	text-decoration:none;
}

#menu a:hover, #menu a:focus{
	color:white;
	text-decoration:underline;
}

#header input {
	height:24px;
	border-radius: 4px;
	padding: 0px 7px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

input.texte {
	background: url('../img/header/bg_input.png') repeat-x scroll center center #FFF;
	border:1px solid #96A9B5;
}

input.signin {
	background-color: #1473da;
	box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	color: #FFF;
	border: 1px solid #1267c3;
}

input.signup {
	background-color: #FF4C00;
	box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	color: #FFF;
	border: 1px solid #7A1F0A;
	margin-left:10px;
}

input.signupfooter{
	width: 135px;
	height: 43px;
	border-radius: 4px;
	padding: 0px 7px;
	border: 1px solid #7A1F0A;
	text-shadow: 0px 1px 1px #8E2A04;
	background-color: #FF4C00;
	box-shadow: 0px 1px 1px #000;
	color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-left:10px;
	font-size:1.5em;
}

/* Bloc central contenant #search et #contenu */
#centre {
	background: url('../img/structure/colonnes.png') repeat-y; 
}

/* Contenu principal */
#contenu {
	color: #363B29;
	background: white; /* -> 2 */
}

#footer {
	background: url('../img/structure/bg03.jpg');
	color: #363B29;
}

#footer a{
	color : #363B29;
}
#footer a:hover, #footer a:focus {
	color: #FF4C00;
}

#menu a:hover, #menu a:focus{
	color:white;
}

#footercontent {
	width:1014px;
	margin:0 auto;
	padding:0 auto;
	height:230px;
	float:center;
}


/* --------------------------- POSITIONNEMENT ------------------------------ */

/* Page */
body {
	margin: 0 auto;
	padding: 0 auto;
}

/* pour aligner le site */
#global {
	margin: 0 auto;
}

/* En-tête */
#header {
	min-width:1024px;
	height : 100px;
	margin-bottom : 10px;
}

/* Bloc central contenant #search et #contenu */
#centre {
	width: 1024px; 
	margin: 0 auto;
	overflow: hidden;
}

/* recherche */
#search {
	width: 180px;
	float: left;
	padding: 10px 20px 10px 20px;
}

/* Contenu */
#contenu {
	margin-left: 190px; /* decalage par rapport à search */
	padding: 10px 20px 10px 20px;
}
#contenu > :first-child {
	margin-top: 10px;
}

/* pied de page */
#footer {
	margin:0 auto;
	margin-top: 10px;
	min-width:1024px;
	height : 230px;
}