@font-face {
	font-family: 'YanoneKaffeesatz-Light';
	src: url("../fonts/YanoneKaffeesatz-Light.eot");
	src: url("../fonts/YanoneKaffeesatz-Light.eot?#iefix") format('embedded-opentype'),
		 url("../fonts/YanoneKaffeesatz-Light.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatz-Regular';
	src: url("../fonts/YanoneKaffeesatz-Regular.eot");
	src: url("../fonts/YanoneKaffeesatz-Regular.eot?#iefix") format('embedded-opentype'),
		 url("../fonts/YanoneKaffeesatz-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* --- STYLES DE BASE POUR LE TEXTE ET LES PRINCIPAUX �L�MENTS --- */

/* Page */
html {
	font-size: 100%; /* pour ie */
}

body {
	font-family: 'YanoneKaffeesatz-Light';
	font-size: 1em;
	text-align:justify;
}

/* Titres */
h1 {font-size: 3em;font-weight: normal;color: #546B76;text-align:center;font-family: 'YanoneKaffeesatz-Regular';}
h2 {font-size: 1.8em;font-weight: normal;color: #96A9B5;font-family: 'YanoneKaffeesatz-Regular';}
h3 {font-size: 1.3em;font-weight: normal;color: #FF4C00;font-family: 'YanoneKaffeesatz-Regular';}
h4 {font-size: 1.3em;font-weight: normal;color: #546B76;font-family: 'YanoneKaffeesatz-Regular';}

/* Listes */
ul, ol {
	/* n�cessaire pour homog�n�iser sur tt les navigateurs */
	margin: .75em 0 .75em 24px;
	padding: 0; 
}

ul {
	list-style: square;
	color: #FF4C00;
}

li {
	margin: 0;
	padding: 0;
}

/* Liens */
a {
	color: #96A9B5;
	text-decoration: underline;
}

a:hover, a:focus {
	color: #FF4C00;
}

a img {
	border: none;
}

img {
	border: none;
}

/* --- STYLES POUR CERTAINS CONTENUS DES GABARITS --- */

#zonegrise {
	padding: 10px;
	background: #eee;
	color: #555;
}