#formulaireAddDP {
    padding : 10px;   
}

#previewAddDP {
    padding : 10px;   
}

#formulaireAddConflict {
    padding : 10px;   
}

#formulaireAddProject {
    padding : 10px;   
}


#addDP_form input.addDP {
    height:24px;
    border-radius: 4px;
    padding: 0px 7px;
    background-color: #FF4C00;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: 1px solid #ff6100;
    margin-left:10px;
}

#addDP_form input.addDP:hover {
    background-color: #ff6100;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

#addConflict_form input.addConflict {
    height:24px;
    border-radius: 4px;
    padding: 0px 7px;
    background-color: #FF4C00;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: 1px solid #ff6100;
    margin-left:10px;
}

#addConflict_form input.addConflict:hover {
    background-color: #ff6100;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}


#addProject_form input.addProject {
    height:24px;
    border-radius: 4px;
    padding: 0px 7px;
    background-color: #FF4C00;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: 1px solid #ff6100;
    margin-left:10px;
}

#addProject_form input.addProject:hover {
    background-color: #ff6100;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

