/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 févr. 2014, 18:32:03
    Author     : loicviguier
*/


/* Partie à ajouter au CSS styleStructure.css */
/* Revoir les champs id et la structure du css */

/* ------------------------------ COULEURS --------------------------------- */

#formsignup input, #forgetform input {
    outline: none;
    height:22px;
    border-radius: 4px;
    padding: 0px 7px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    margin-top: 4px;
    padding: 10px 0px 10px 15px;    
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
}

#forgetform input:active,
#forgetform input:focus {
    border: 1px solid #96A9B5;
    background: #f5f5f5;   
    box-shadow: 0px 1px 4px 0px rgba(157, 157, 157, 0.9) inset;
} 

#formsignup input:active,
#formsignup input:focus {
    border: 1px solid #96A9B5;
    background: #f5f5f5;   
    box-shadow: 0px 1px 4px 0px rgba(157, 157, 157, 0.9) inset;
} 

#forgetform label, #formsignup label {
    font-size: 1.4em;
    font-weight: normal;
    color: #96A9B5;
    font-family: 'YanoneKaffeesatz-Regular';
}

#formsignup ::-webkit-input-placeholder  { 
    color: rgb(190, 188, 188); 
    font-style: italic;
}

#formsignup input.signupform{
    width: 130px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 25px;
    text-shadow: 0px 1px 1px #8E2A04;
    background-color: #FF4C00;
    box-shadow: 0px 1px 1px #000;
    color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size:1.4em;
    -webkit-box-reflect: below 0 linear-gradient(transparent 40%, rgba(0,0,0,.15));
}

#formsignup input.signupform:hover {
    background-color: #FF6100;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

#forgetform input.sendforget {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #415A6A;
    box-shadow: 0px 1px 1px #000;
    color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size:1.4em;
    -webkit-box-reflect: below 0 linear-gradient(transparent 40%, rgba(0,0,0,.15));
}

#forgetform input.sendforget:hover {
    background-color: #546A78;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

#profil {
    font-size: 1.2em;
    color: #96A9B5;
    text-decoration: none;
    text-align: left;
}

#profildroit {
    color: #373F42;
}

#profilgauche {
    color: #96A9B5;
}

#modifyprofil {
    width: 70px;
    height: 26px;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0px 1px 1px #8E2A04;
    background-color: #FF4C00;
    box-shadow: 0px 1px 1px #B2B2B2;
    color: #FFF;
    font-size: 0.7em;
    -webkit-box-reflect: below 0 linear-gradient(transparent 40%, rgba(0,0,0,.15));
}

#modifyprofil:hover {
    background-color: #FF6100;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

label.ucaptcha{
    width: 50px;
}

input#captchasignup {
    height: 15px;
    width: 65px;
}

#headerlogout {
    font-size: 1.4em;
}

#headerlogout button{
    height:25px;
    border-radius: 4px;
    padding: 0px 7px;
    background-color: #FF4C00;
    box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: 1px solid #FF6100;
    margin-left: 20px;
    font-size: 0.5em;
}

#headerlogout a:hover {
    text-decoration: underline;
    color: white;
}

#headerlogout button:hover{
    background-color: #FF6100;
    box-shadow: 0px 0px 4px 0px white;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

/* --------------------------- POSITIONNEMENT ------------------------------ */

#formsignup {
    text-align: center;
}

#forgetform {
    padding-top: 10px; 
    padding-left: 30px;
}

#formsignup label {
    display: inline-block;
    width: 100px;
    margin-right: 20px;  
    vertical-align: middle;  
    text-align: right;
}

#profilcontent {
    line-height: 170%;
}

#profillogo {
    height: 125px;
    padding-left: 35px;
}

#profilgauche {
    display: inline-block;
    width: 125px;
    height: 110px;
    padding: 0px 10px 0px 35px;
}

#profildroit {
    display: inline-block;
    width: 125px;
    height: 110px;
    padding: 0px 10px;
}

#profilform {
    padding: 0px 0px 15px 35px;
}

#headerlogout img{
    vertical-align: middle;
}

/* Fin de la partie à ajouter */
