#formulaireContact {
    padding : 10px;   
}

#formulaireAddDP {
    padding : 10px;   
}

#previewAddDP {
    padding : 10px;   
}

#subject {
   font-family: 'YanoneKaffeesatz-Light';
}

#getintouch {
     margin-top:20px;
     margin-left:10px;
     padding:10px;
     width:200px;
     float:left;
     height:500px;
     background:#eee;
     color: #555;
}

#getintouch ul li ul li{
    list-style-type: circle;                /* style de la puce */
    list-style-position : outside;          /* position de la puce */
    color : #546B76;
    margin-left : -10px;
}

#search_keywords {
    width:90%;
    background-image:url(../img/vrac/loupe.png);
    background-position:left;
    background-repeat:no-repeat;
    padding-left:21px;
}

#search_bar_advanced ul {
    list-style:none;
    margin:0 auto;
    padding:0 auto;
}

#search_bar_advanced ul li {
    color : #373F42;
}

#sup {
    color : #373F42;
    font-size:1.8em;
}

#search_bar_advanced ul li ul {
    list-style:none;
    padding-left:30px;
    color: #373F42;
}

#search_form input.search {
    height:24px;
    border-radius: 4px;
    padding: 0px 7px;
    background-color: #FF4C00;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: 1px solid #ff6100;
    margin-left:10px;
}

#search_form input.search:hover {
    background-color: #ff6100;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.box {
    background-color:#eee;
    margin-bottom:10px;
    padding:10px;
}

#headerAside {
    min-height:100px;
}

#headerBox {
    width:86%;
    float:left;
    min-height:100px;
}

#headerBox h2 {
    margin:0 auto;
    padding-right:5px;
    display:inline;
}

#headerBox h2:hover {
    color: #FF4C00;
}

#asideBox {
    width:10%;
    padding:5px;
    margin-top:5px;
    float:right;
    background-color: #96A9B5;
    text-align:center;
    min-height:80px;
}

#note {
    font-size:1.8em;
}

#lienDescr {
    height:27px;
    font-size:1.2em;
}

#articleBox {
    margin-bottom: 10px;
}

#otherInfo a {
    color : #363B29;
}

#otherInfo a:hover {
    color : #546B76;
}

#otherInfo2 {
    vertical-align: middle;
    margin-top: 18px;
}

#otherInfo2 a {
    color : #363B29;
}

#otherInfo2 a:hover {
    color : #546B76;
}

.details h3 {
    margin : 0 auto;
    padding:0 auto;
    display : inline;
    font-size: 1.3em;
    font-weight: normal;
    color: #96A9B5;
}

#solutionConflict {
    height:27px;
}

#dpProjects {
    height:27px;
}

#contenuGaucheDP {
    width: 50%;
    float:left;
}

#hautDP h3 {
    margin: 0px auto;
    display: inline;
    font-weight: normal;
    color: #96A9B5;
}

#contenuDroitDP {
    width: 50%;
    float:left;
}

#hautDP {
    min-height:260px;
}

#textDisplay h3 {
    margin: 0px auto;
    display: inline;
    font-weight: normal;
    color: #96A9B5;
}

#contenuCommentsDP {
    width:75%;
    float:left;
}

#asideCategorieConflictDP {
    width:21%;
    background-color: #eee;
    float:right;
    padding : 10px;
    margin-bottom: 10px;
}

#asideCategorieConflictDP h3 {
    margin: 0px auto;
    font-weight: normal;
}

#asideCategorieConflictDP h2:hover {
    color : #FF4C00;
}

#logoComment {
    width:14%;
    float:left;
    text-align: center;
}

#textComment {
    width:82%;
    float:right;
    border: 1px solid #FF4C00;
    padding: 10px;
}
