#formulaireContact {
    padding : 10px;   
}

#subject {
   font-family: 'YanoneKaffeesatz-Light';
}

#getintouch {
     margin-top:20px;
     margin-left:10px;
     padding:10px;
     width:200px;
     float:left;
     height:500px;
     background:#eee;
     color: #555;
}

#getintouch ul li ul li{
    list-style-type: circle;                /* style de la puce */
    list-style-position : outside;          /* position de la puce */
    color : #546B76;
    margin-left : -10px;
}

#search_bar_advanced ul {
    list-style:none;
    margin:0 auto;
    padding:0 auto;
}

#search_bar_advanced ul li {
    color : #96A9B5;
}

#sup {
    color : #373F42;
    font-size:1.8em;
}

#search_bar_advanced ul li ul {
    list-style:none;
    padding-left:20px;
    color: #373F42;
}


#search_form input.search {
	height:24px;
	border-radius: 4px;
	padding: 0px 7px;
	background-color: #FF4C00;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	color: #FFF;
	border: 1px solid #ff6100;
	margin-left:10px;
}
#search_form input.search:hover {
	background-color: #ff6100;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}