#formulaireContact {
    padding : 10px;   
}

#subject {
   font-family: 'YanoneKaffeesatz-Light';
}

#getintouch {
     margin-top:20px;
     margin-left:10px;
     padding:10px;
     width:200px;
     float:left;
     height:500px;
     background:#eee;
     color: #555;
}

#getintouch ul li ul li{
    list-style-type: circle;                /* style de la puce */
    list-style-position : outside;          /* position de la puce */
    color : #546B76;
    margin-left : -10px;
}

#search_bar_advanced ul {
    list-style:none;
    margin:0 auto;
    padding:0 auto;
}

#search_bar_advanced ul li {
    color : #373F42;
}

#sup {
    color : #373F42;
    font-size:1.8em;
}

#search_bar_advanced ul li ul {
    list-style:none;
    padding-left:30px;
    color: #373F42;
}


#search_form input.search {
	height:24px;
	border-radius: 4px;
	padding: 0px 7px;
	background-color: #FF4C00;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.37) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	color: #FFF;
	border: 1px solid #ff6100;
	margin-left:10px;
}
#search_form input.search:hover {
	background-color: #ff6100;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.designPatternBox {
    background-color:#eee;
    margin-bottom:10px;
    padding:10px;
}

#headerAside {
    min-height:100px;
}

#headerDesignPatternBox {
    width:87%;
    float:left;
    min-height:100px;
}

#headerDesignPatternBox h2 {
    margin:0 auto;
    padding-right:5px;
    display:inline;
}

#headerDesignPatternBox h2:hover {
    color: #FF4C00;
}

#asideDesignPatternBox {
    width:10%;
    padding:5px;
    margin-top:5px;
    float:right;
    background-color: #96A9B5;
    text-align:center;
    min-height:80px;
}

#otherInfo a {
    color : #363B29;
}

#otherInfo a:hover {
    color : #546B76;
}

#note {
    font-size:1.8em;
}

#articleDesignPatternBox {
  text-align:justify;
}

#lienAdd {
    height:27px;
    font-size:1.2em;
}

.detailsDP h3 {
    margin : 0 auto;
    padding:0 auto;
    display : inline;
    font-size: 1.3em;
    font-weight: normal;
    color: #96A9B5;
}

.conflitBox {
    background-color:#eee;
    margin-bottom:10px;
    padding:10px;
}

#headerConflitBox {
    width:86%;
    float:left;
    min-height:90px;    
}

#headerConflitBox h2 {
    margin:0 auto;
    padding-right:5px;
    display:inline;
}

#headerConflitBox h2:hover {
    color: #FF4C00;
}

#lienDP {
    height:27px;
    font-size:1.2em;
}

#asideConflictBox {
    width:10%;
    padding:10px;
    margin-top:5px;
    float:right;
    background-color: #96A9B5;
    text-align:center;
    min-height:40px;
}

#typeConflict {
    width:100%;
    margin-top:100px;
    margin-bottom:10px;
}

.solutionBox {
    background-color:#eee;
    margin-bottom:10px;
    padding:10px;
}

#headerSolutionBox {
    width:87%;
    float:left;
    min-height:100px;
}

#headerSolutionBox h2 {
    margin:0 auto;
    padding-right:5px;
    display:inline;
}

#headerSolutionBox h2:hover {
    color: #FF4C00;
}

#asideSolutionBox {
    width:10%;
    padding:5px;
    margin-top:5px;
    float:right;
    background-color: #96A9B5;
    text-align:center;
    min-height:80px;
}

#articleSolutionBox {
  text-align:justify;
}

.detailsSol h3 {
    margin : 0 auto;
    padding:0 auto;
    display : inline;
    font-size: 1.3em;
    font-weight: normal;
    color: #96A9B5;
}